.page-container {
    background-color: transparent;
    padding: 60px;
    min-height: 100px;
}

.profile-section {
    background-color: #F0F4F8;
    color: #111827;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-layout {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.profile-text h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    
}

.profile-text p {
    font-size: 18px;
    line-height: 1.6;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
}

.wave-image { /* залишено якщо використовується десь поруч */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 1;
}



